@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spaceship_ani {
  100% {
    background-position: -1050px 0;
  }
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.spaceship {
  width: 150px;
  height: 150px;
  background: url('../public/images/assets/balloon_sprite.png') no-repeat 0 0 / auto 150px ;
  animation: spaceship_ani 0.9s infinite steps(7);
  border-radius: 74px;
}
